<template>
  <div id="app">
    <img src="./assets/logo.png">
    <ul class="nav nav-tabs">
    	<!-- class='active' 부트스트랩에서 탭 출력을 결정하는 css-->
    	<li v-for="page in pages" :class="isActivePage(page) ? 'active' : ''">
    		<a @click="setPage(page)">{{page | capitialize}}</a>
    	</li>
    </ul>
    <h1>{{ msg }}</h1>
    <component :is="activePage"></component>
  </div>
</template>

<script>
import Vue from 'vue'
import hello from './components/Hello'
import greet from './components/Greet'
import login from './components/Login'
import register from './components/Register'
import stories from './components/Stories'

Vue.filter('capitialize', function(value) {
	return value.charAt(0).toUpperCase() + value.substr(1);
})

export default {
  name: 'app',
  data () {
    return {
      msg: 'Welcome to dynamic Components',
      activePage: 'hello',
      pages: [
		'stories',
		'register',
		'login',
		'hello',
		'greet',
      ]
    }
  },
  components: {
	hello,	
	greet,
	login,
	register,
	stories
  },
  methods: {
	  setPage(newPage){
		  this.activePage = newPage;
	  },
	  isActivePage(page){
		return this.activePage === page;		  
	  }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
