<template>
	<div class="greet" >
		<h1>{{msg}}</h1>
	</div>
</template>

<script>
export default {
	data(){
		return {
			msg: "No! I want to use the <component> element!"
		}
	}
}
</script>

<style scoped>
h1 {
  color: #2c3e50;
}
</style>