<template>
  <div id="app">
    <img src="./assets/logo.png">
    <h1>{{ msg }}</h1>
    <h1>{{ parentCounter }}</h1>
    <button @click="addCounter">+</button>
  	<button @click="subCounter">-</button>
  	<button @click="payloadCounter">payload</button>
  	<button @click="addCounter_actions">+(actions)</button>
  	<button @click="addCounterDelay_actions">+(delay actions)</button>
  	<button @click="addCounterParam_actions">+(param actions)</button>
    <child></child>
  </div>
</template>

<script>
import Child from './Child.vue'

export default {
  name: 'app',
  data () {
    return {
      msg: 'Parent Counter'
    }
  },
  components: {
	 'child': Child
  },
  methods: {
	  addCounter() {
		  //this.$store.state.counter++;
		  //this.$store.commit('addCounter')
		  this.$store.commit('addCounter', 10)
		  
		 //this.$store.mutations.addCounter 불가
		 //Vuex는 상태 변화를 추적하고 관리를 편하게 하기 위해서 mutations는 
		 //commit을 이용하여 이벤트를 호출
	  },
	  subCounter() {
		  this.$store.state.counter--;
	  },
	  payloadCounter(){
		  this.$store.commit('payloadCounter', {
			  value: 10,
			  arr: ["a", "b", "c"]
		  })
	  },
	  addCounter_actions(){
		  this.$store.dispatch('addCounter')
	  },
	  addCounterDelay_actions(){
		  this.$store.dispatch('addCounter')
	  },
	  addCounterParam_actions(){
		  this.$store.dispatch('asyncIncrement', {
			  	by: 50,
			  	duration: 500
		  })
	  }
  },
  //Getters
  computed: {
	  parentCounter() {
		  return this.$store.getters.getCounter
	  },
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
