<template>
  <div id=app>
    <h1>{{ msg }}</h1>
    <h1>{{ childCounter}}</h1>
  </div>
</template>

<script>
export default {
  name: 'Child',
  data () {
    return {
      msg: 'Child Counter'
    }
  },
  //Getters
  computed: {
	  childCounter() {
		  return this.$store.getters.getCounter
	  }
  }
}
</script>
