<!DOCTYPE html>
<html>
<head>
<link href="../js/bootstrap/3.3.7/bootstrap.min.css"  rel="stylesheet">
<title>People of Vue</title>
</head>
<body>
	<div class="container">
		<h1>Let's hear some stories!</h1>
		<div>
			<h3>Alex's stories</h3>
			<ul class="list-group">
				<li v-for="story in storiesBy('Alex')"
					class="list-group-item">
						{{story.writer}} said "{{story.plot}}"
						and upvoted {{story.upvotes}} times.
				</li>
			</ul>
			<h3>John's stories</h3>
			<ul class="list-group">
				<li v-for="story in storiesBy('John')" 
					class="list-group-item">
						{{story.writer}} said "{{story.plot}}"
						and upvoted {{story.upvotes}} times.
				</li>
			</ul>
		</div>
		<div class="form-group">
			<label for="query">What are you looking for?</label>
			<input v-model="query" class="form-control">
		</div>
		<h3>Search Results:</h3>
		<ul class="list-group">
			<li v-for="story in search" class="list-group-item">
				{{story.writer}} said "{{story.plot}}"
			</li>
		</ul>		
		<pre>{{$data}}</pre>
	</div>
</body>
<script src="../js/vuejs/2.5.13/vue.js"></script>
<script>
	new Vue({
		el: '.container',
		data: {
			stories: [
				{
					plot: "I crashed my car today!",
					writer: "Alex",
					upvotes: 28
				},
				{
					plot: "Yesterday, someone stole my car!",
					writer: "John",
					upvotes: 8
				},
				{
					plot: "Someone ate my chocolate....",
					writer: "John",
					upvotes: 51
				},
				{
					plot: "I ate someone's chocolate!!",
					writer: "Alex",
					upvotes: 74
				}
			],
			query: ' '
		},
		methods: {
			storiesBy: function(writer) {
				return this.stories.filter(function(story) {
					return story.writer===writer
				})
			}
		},
		computed: {
			famous: function() {
				return this.stories.filter(function(item){
					return item.upvotes>25
				})
			},
		    search: function () {
		        var query = this.query
		        return this.stories.filter(function (story) {
		          return story.plot.includes(query)
		        })
		    }
		}
	});
</script>
</html>