<!DOCTYPE html>
<html>
<head>
<link href="../js/bootstrap/3.3.7/bootstrap.min.css"  rel="stylesheet">
<title>The Gotham Gazette</title>
</head>
<body>
	<div class="container">
		<h1>Real identities of Super Heroes!</h1>
		<ul class="list-group">
			<li v-for="hero in heroes" class="list-group-item">
				{{hero | snitch}}
			</li>
		</ul>
		<pre>{{$data}}</pre>
	</div>
</body>
<script src="../js/vuejs/2.5.13/vue.js"></script>
<script>
Vue.filter('snitch', function(hero) {
	return hero.secretId+ ' is ' + hero.firstname+' '+hero.lastname+''
})

new Vue({
    el: '.container',
    data: {
       heroes:  [
          { firstname: 'Bruce', lastname:  'Wayne', secretId: 'Batman'},
          { firstname: 'Clark', lastname: 'Kent', secretId: 'Superman'},
          { firstname: 'Jay', lastname: 'Garrick', secretId: 'Flash'},
          { firstname: 'Peter', lastname: 'Parker', secretId: 'Spider-Man'}
      ]
    }
})
</script>
</html>