<!DOCTYPE html>
<html>
<head>
<link href="../js/bootstrap/3.3.7/bootstrap.min.css"  rel="stylesheet">
<title>The Gotham Gazette</title>
</head>
<body>
	<div class="container">
		<h1>Let's hear some stories!</h1>
		<ul class="list-group">
			<li v-for="story in orderedStories" class="list-group-item">
				{{ story.writer }} said "{{ story.plot }}" and upvoted {{ story.upvotes }} times.
			</li>
		</ul>
		<!-- Without using the computed property. -->
		<ul class="list-group">
			<li v-for="story in _.orderBy(stories, ['upvotes'], [order])" class="list-group-item">
				{{ story.writer }} said "{{ story.plot }}" and upvoted {{ story.upvotes }} times.
			</li>
		</ul>
		<button class="btn btn-default" v-on:click="reverseOrder">Reverse Order</button>
		<pre>{{ $data }}</pre>
	</div>
</body>
<script src="../js/vuejs/2.5.13/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.16.4/lodash.min.js"></script>
<script>
new Vue({
    el: '.container',
	data : {
			stories : [
				{
					plot : "I crashed my car today!",
					writer : "Alex",
					upvotes : 28
				},
				{
					plot : "Yesterday, someone stole my bag!",
					writer : "John",
					upvotes : 8
				},
				{
					plot : "Someone ate my chocolate...",
					writer : "Kim",
					upvotes : 51
				},
				{
					plot : "I ate someone's chocolate!",
					writer : "Lee",
					upvotes : 74
				}
			],
			order : 'desc'
		},
		methods : {
			reverseOrder : function() {
				this.order = (this.order === 'desc') ? 'asc' : 'desc'
			}
		},
		computed : {
			orderedStories : function() {
				var order = this.order
				return _.orderBy(this.stories, 'upvotes', order)
				//return _.orderBy(this.storeis, ['upvotes', 'writer'], ['asc', 'desc']) 
			}
		}
	})
</script>
</html>