<!DOCTYPE html>
<html>
<head>
<link href="../js/bootstrap/3.3.7/bootstrap.min.css"  rel="stylesheet">
<title>People of Gaul</title>
</head>
<body>
	<div class="container">
		<h1>People of Gaul</h1>
		<ul class="list-group">
			<li v-for="people in orderPeoples" class="list-group-item">
				{{ people.name }} {{people.age}}
			</li>
		</ul>
		<!-- Without using the computed property. -->
		<h1>"Old" People of Gaul</h1>
		<ul class="list-group">
			<!--  <li v-for="people in orderOldPeoples" class="list-group-item"> -->
			<li v-for="people in _.orderBy(orderOldPeoples, ['age'], [order])" class="list-group-item">
				{{ people.name }} {{people.age}}
			</li>
		</ul>
		<pre>{{ $data }}</pre>
	</div>
</body>
<script src="../js/vuejs/2.5.13/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.16.4/lodash.min.js"></script>
<script>
new Vue({
    el: '.container',
	data : {
			Peoples : [
				{
					name: "Obelix",
					age: 31
				},
				{
					name: "Asterix",
					age: 32
				},
				{
					name: "Julius Caesar",
					age: 56
				},
				{
					name: "Spring",
					age: 65
				},
				{
					name: "OS",
					age: 70
				},
				{
					name: "Majaestix",
					age: 62
				}
			],
			order : 'asc'
		},
		computed : {
			orderPeoples : function() {
				var order = this.order
				return _.orderBy(this.Peoples, 'age', order)
				//return _.orderBy(this.storeis, ['upvotes', 'writer'], ['asc', 'desc']) 
			},
			orderOldPeoples: function() {
				return this.Peoples.filter(function(people){
					return people.age>=65;
				})
			}
		}
	})
</script>
</html>