<!DOCTYPE html>
<html>
<head>
<link href="../js/bootstrap/3.3.7/bootstrap.min.css" rel="stylesheet">
<meta charset="EUC-KR">
<title>Hello Vue</title>
</head>
<body>
	<div class="container">
		<h1>The multiplication table of 4.</h1>
		<ul class="list-group">
			<!-- i의 시작은 1부터 0이 아님  -->
			<li v-for="i in 11" class="list-group-item">
				{{i-1}} times 4 equals {{(i-1)*4}}
			</li>
		</ul>
	</div>
</body>
<script src="../js/vuejs/2.5.13/vue.js"></script>
<script>
	new Vue({
		el: '.container'	
	})
</script>
</html>