<!DOCTYPE html>
<html>
<head>
<link href="../js/bootstrap/3.3.7/bootstrap.min.css" rel="stylesheet">
<title>Stories</title>
</head>
<body>
	<div class="container">
		<h1>Let's hear some stories!</h1>
		<ul class="list-group">
			<li v-for="(stroy, index) in stories" class="list-group-item">
				{{index}} {{stroy.writer}} said "{{stroy.plot}}"
			</li>
		</ul>
		 <pre>{{ $data }}</pre>
	</div>
</body>
<script src="../js/vuejs/2.5.13/vue.js"></script>
<script>
	new Vue({
		el: '.container',	
		data: {
			stories: [
				{
					plot: "I crashed my car today!",
					write: "Alex"
				},
				{
					plot: "Yesterday, someone stole my car!",
					write: "John"
				},
				{
					plot: "Someone ate my chocolate....",
					write: "John"
				},
				{
					plot: "I ate someone's chocolate!!",
					write: "Alex"
				}
			]
		}
	})
</script>
</html>