<!DOCTYPE html>
<html>
<head>
<link href="../js/bootstrap/3.3.7/bootstrap.min.css" rel="stylesheet">
<title>Stories</title>
</head>
<body>
	<div class="container">
		<h1>Let's hear some stories!</h1>
		<ul class="list-group">
			<ol v-for="story in stories" class="list-group-item">
				<li v-for="(value, key, index) in story" class="list-group-item">
					{{index}} : {{key}} : {{value}}
				</li>
			</ol>
			
 		 <!-- <li v-for="value in stories" class="list-group-item">
				{{value}}
			</li> -->
		</ul>
		 <pre>{{ $data }}</pre>
	</div>
</body>
<script src="../js/vuejs/2.5.13/vue.js"></script>
<script>
	new Vue({
		el: '.container',	
		data: {
			stories: [
				{
					plot: "I crashed my car today!",
					writer: "Alex",
					upvotes: 47
					
				},
				{
					plot: "Yesterday, someone stole my car!",
					writer: "John",
					upvotes: 48
				}
			]
		}
	})
</script>
</html>