<!DOCTYPE html>
<html>
<head>
<link href="../js/bootstrap/3.3.7/bootstrap.min.css" rel="stylesheet">
<title>Personal Information</title>
</head>
<body>
	<div class="container">
		<h1>This is me!</h1>
		<ul class="list-group">
			<li v-for="(value, key, index) in PersonalInfo" class="list-group-item">
				{{index}} : {{key}} = {{value}}
			</li>
		</ul>
		 <pre>{{ $data }}</pre>
	</div>
</body>
<script src="../js/vuejs/2.5.13/vue.js"></script>
<script>
	new Vue({
		el: '.container',	
		data: {
			PersonalInfo: {
				name: "JHlee",
				weight: "77kg",
				height: "170cm",
				eyeColor: "black",
				favoriteFood: "Meat"
			}
		}
	})
</script>
</html>