<html>
<head>
<title>Hello Vue</title>
</head>
<body>
	<div id="app">
		<h1 v-show="!message">You must send a message for help!</h1>
		<textarea v-model="message"></textarea>
		<button v-show="message">
			Send word to allies for help!
		</button>
		<pre>{{ $data }}</pre>
	</div>
</body>
<script src="../js/vuejs/2.5.13/vue.js"></script>
<script>
	new Vue({
		el: '#app',
		data: {
			message: 'Our king is dead!!'
		}
	})
</script>
</html>