<html>
<head>
<title>Hello Vue</title>
</head>
<body>
	<div id="app">
		<template v-if="!message">
			<h1>You must send a message for help!</h1>
			<p>Dispatch a messange immdeiately!</p>
			<p>To nearby kindom of Hearts!</p>
		</template>
		<textarea v-model="message"></textarea>
		<button v-if="message">
			Send word to allies for help!
		</button>
		<pre>{{ $data }}</pre>
	</div>
</body>
<script src="../js/vuejs/2.5.13/vue.js"></script>
<script>
	new Vue({
		el: '#app',
		data: {
			message: 'Our king is dea! Send Help!'
		}
	})
</script>
</html>