<html>
<head>
<title>Hello Vue</title>
</head>
<body>
	<div id="app">
		<template v-if="gender==='female' && name!='' ">
			<h1>Hello, Miss {{name}}</h1>
		</template>
		<template v-else-if="gender==='male' && name!=''">
			<h1>Hello, Mr {{name}}</h1>
		</template>
		<template v-else-if="gender===''">
			<h1></h1>
		</template>
		<template v-else>
			<h1>So you can't decide. Fine!</h1>
		</template>
		<label>Enter your gender:</label>
		<input v-model="gender">
		<label>Enter your name:</label>
		<input v-model="name">
		<pre>{{$data}}</pre>
	</div>
</body>
<script src="../js/vuejs/2.5.13/vue.js"></script>
<script>
	new Vue({
		el: '#app',
		data: {
			gender: '',
			name: ''
		}
	})
</script>
</html>