<template>
	<div id="register">
		<h2>Register Form</h2>
		<input placeholder="First Name" class="form-controlll" >
		<input placeholder="Last Name" class="form-controll" >
		<input placeholder="Email Address" class="form-controll" >
		<input placeholder="Pick a password" class="form-controll" >
		<input placeholder="Confirm password" class="form-controll" >
		<button class="btn btn-default">Sign in</button>
		<famous></famous>
	</div>
</template>

<script>
import Famous from './Famous'

export default {
  components: {
	  Famous
  },
  created(){
	console.log('register');
  }
}
</script>