<html>
<head>
	<link href="../js/bootstrap/3.3.7/bootstrap.min.css" rel="stylesheet">
    <title>Hello Vue</title>
</head>
<body>
  <div class="container">
      <h1>Lets hear some stories!</h1>
      <div>
          <ul class="list-group">
              <story v-for="story in stories" :story="story"></story>
          </ul>
          <pre>{{$data}}</pre>
      </div>
  </div>
</body>
<template id="template-story-raw">
	<li class="list-group-item">
		{{story.writer}} said "{{story.plot}}" 
		<span>{{story.upvotes}}</span>
	</li>
</template>
<script src="../js/vuejs/2.5.13/vue.js"></script>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script>
	Vue.component('story', {
		props: ['story'],
		template: "#template-story-raw"
	});

	var vm = new Vue({
		  el: '.container',
		  data: {
		    stories: []
		  }, 
		  mounted: function() {
/* 				$.get('/api/stories', function(data){
					vm.stories = data;
				}); */
				
				/*
				CORS 오류 발생
				클라이언트에서 Access-Control-** 류의 HTTP Header를 서버에 보내야 하고,
				서버도 Access-Control-** 류의 HTTP Header를 클라이언트에 회신하게 되어 있어야 한다.
				php 라라벨에서는 어떻게 Response Header를 설정해야 할지 몰라서 패스...
				*/
				$.ajax({
					url: 'http://localhost:3000/api/stories',
					type: 'GET',
					crossDomain: true,
				    dataType: 'jsonp',
	                beforeSend: function(xhr){
				    	xhr.setRequestHeader('Access-Control-Allow-origin', 'true');
				    },
				    success: function(data) { vm.stories = data;  },
				    error: function(xhr) { console.log(xhr); }
				}); 
		  }
		});
</script>
</html>