<!DOCTYPE html>
<html>
<head>
	<link href="../js/bootstrap/3.3.7/bootstrap.min.css" rel="stylesheet">
    <title>Hello Vue</title>
</head>
<body>
  <div class="container">
  		<table class="table table-striped">
  			<tr>
  				<th>#</th>
  				<th>Plot</th>
  				<th>Writer</th>
  				<th>Upvotes</th>
  				<th>Actions</th>
  			</tr>
  			<tr v-for="story in stories" is="story" :story="story"></tr>
  		</table>
		<p class="lead">Here's list of all your stories</p>
		<pre>{{$data}}</pre>
	</div>
</body>
<template id="template-story-raw">
	<tr>
		<td>{{story.id}}</td>
		<td><span> {{story.plot}} </span></td>
		<td><span> {{story.writer}} </span></td>
		<td>{{story.upvotes}}</td>
		<td>
			<div class="btn-group">
				<button @click="upvotes(story)" class="btn btn-primary">Upvote</button>
			</div>
		</td>
	</tr>
</template>
<script src="../js/vuejs/2.5.13/vue.js"></script>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script>
	Vue.component('story', {
		props: ['story'],
		template: "#template-story-raw",
		methods: {
			upvotes: function(story) {
				story.upvotes++;
				$.ajax({
					url: 'http://localhost:3000/api/stories/'+story.id,
					type: 'PATCH',
					data: story
				});
			}
		}
	});

	var vm = new Vue({
		  el: '.container',
		  data: {
		    stories: []
		  }, 
		  mounted: function() {
			  $.get('/api/stories', function(data){
				vm.stories = data;	  
			  }) 
		  }
		});
</script>
</html>