<template>
  <div id="app">
    <img class="logo" src="./assets/logo.png">
    <h1>Welcome to Routing!</h1>
    <!-- instead of 'to' use name: 'yourName' -->
    <router-link :to="{ name: 'home'}" exact>Home</router-link>
    <router-link :to="{ name: 'login'}">Login</router-link>
    <router-link :to="{ name: 'stories.all'}">Stories</router-link>
<!--
	서드파티 css Animated.css 사용. animated 클래스를 추가 후 화면효과 클래스 지정.
	<transition enter-active-class="animated rollIn" leave-active-class="animated rollOut">
 -->
    <transition name="fade"> 
	    <!-- route outlet -->
	    <router-view></router-view>
    </transition>
  </div>
</template>

<style>
.router-link-active {
	color: green;
}

.my-active-class {
	font-family: 'sans-serif';
	color: Yellow;
}

.fade-enter, .fade-leave-to {
	opacity: 0
}

.fade-enter-active, .fade-leave-active {
	transition: opacity 1s
}

.fade-enter-to, .fade-leave {
	opacity: 0.8
}
</style>