<!DOCTYPE html>
<html>
<head>
<link href="../js/bootstrap/3.3.7/bootstrap.min.css" rel="stylesheet">
<title>Hello Vue</title>
</head>
<body>
	<div class="container">
		<story v-bind:story="{plot: 'My horse is amzaing.', writer: 'Mr. Weebl'}"></story>
		<story v-bind:story="{plot: 'Narwhals invented Shish Kebab.', writer: 'Mr. Weebl'}"></story>
		<story v-bind:story="{plot: 'The dark side of the Force is stronger.', writer: 'Darth Vader'}"></story>
		<story2 plot="plot..."></story2>
	</div>
</body>
<template id="story-template">
    <h1>{{story.writer}} said "{{story.plot}}"</h1>
</template>
<template id="plot-template">
    <h1>{{plot}}</h1>
</template>
<script src="../js/vuejs/2.5.13/vue.js"></script>
<script>
	//여러개 템플릿 등록 불가
	Vue.component('story', {
		//오브젝트이므로 <story> 태그에서v-bind를 통해 
		//전달된 프로퍼티와 객체를 바인딩
		props: ['story'],
		template: "#story-template"
	});
	
	Vue.component('story2', {
		props: ['plot'],
		template: "#plot-template"
	});	

	new Vue({
		el: '.container'
	})
</script>
</html>