<!DOCTYPE html>
<html>
<head>
	<link href="../js/bootstrap/3.3.7/bootstrap.min.css" rel="stylesheet">
    <title>Hello Vue</title>
</head>
<body>
  <div class="container">
      <h1>Lets hear some stories!</h1>
      <div>
          <ul class="list-group">
              <story v-for="story in stories" :story="story" :favorite="favorite"></story>
          </ul>
          <pre>{{$data}}</pre>
      </div>
  </div>
</body>
<template id="story-template">
	<li class="list-group-item">
		{{story.writer}} said "{{story.plot}}"
		Story upvotes {{story.upvotes}}.
		<button v-show="!story.voted" @click="upvote" class="btn btn-default">
			Upvote
		</button>
		<button v-show="!isFavorite" @click="setFavorite" class="btn btn-default">
			Favorite
		</button>
		<span v-show="isFavorite" class="glyphicon glyphicon-star pull-right" aria-hidden="true">
		</span>
	</li>
</template>
<script src="../js/vuejs/2.5.13/vue.js"></script>
<script>
	Vue.component('story', {
		props: ['story', 'favorite'],
		template: "#story-template",
		methods: {
			upvote: function(){
				this.story.upvotes+=1;
				this.story.voted=true;
			},
			setFavorite: function() {
				//동기화가 없어  favorite Vue warn 출력
				//프로퍼티는 단방향 바인딩. 부모가 갱신되면 자식에게 전달.
				//반대는 불가능. 사용자 정의 이벤트 필요
				this.favorite = this.story;
			}
		},
		computed: {
			isFavorite: function(){
				return this.story == this.favorite;
			}
		}
	});

	new Vue({
		  el: '.container',
		  data: {
		    stories: [
		      {
		        plot: "My hores is amazing.",
		        writer: "Mr. Weebl",
		        upvotes: 28,
		        voted: false
		      },
		      {
		        plot: "Narwhals invented Shish Kebab.",
		        writer: "Mr. Weebl",
		        upvotes: 8,
		        voted: false
		      },
		      {
		        plot: "The dark side of the Force is stronger.",
		        writer: "Darth Vader",
		        upvotes: 49,
		        voted: false
		      },
		      {
		        plot: "One does not simply walk into Mordor",
		        writer: "Boromir",
		        upvotes: 74,
		        voted: false
		      },
		    ],
		    favorite: {}
		  }
		});
</script>
</html>