<!DOCTYPE html>
<html>
<head>
	<link href="../js/bootstrap/3.3.7/bootstrap.min.css" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <title>Hello Planet</title>
</head>
<body>
  <div id="app">
  	<h1>Where would like go?</h1>
  	<ul class="list-group">
  		<planet v-for="planet in planets" :planet="planet"></planet>
  	</ul>
  	<pre>{{$data}}</pre>
  </div>
</body>
<template id="planet-template">
	<li class="list-group-item">
		Planet: {{planet.name}} Visited {{planet.visits}} time(s).
		<button v-show="canVisited" @click="upVisit" class="btn btn-default">
			Visit
		</button>
		<span v-if="planet.visits > 0" class="fa fa-rocket fa-2x pull-right" aria-hidden="true">
		</span>
	</li>
</template>
<script src="../js/vuejs/2.5.13/vue.js"></script>
<script>
Vue.component('planet', {
	props: ['planet'],
	template: '#planet-template',
	methods: {
		upVisit: function(){
			this.planet.visits+=1;
		}
	},
	computed: {
		canVisited: function () {
	        return this.planet.visits < 3
	      }
	    }
});

new Vue({
	  el: '#app',
	  data: {
	    planets: [
	      {
	        name: 'Mercury',
	        visits: 0
	      },
	      {
	        name: 'Venus',
	        visits: 0
	      },
	      {
	        name: 'Mars',
	        visits: 0
	      },
	      {
	        name: 'Jupiter',
	        visits: 0
	      }
	    ]
	  }
	})
</script>
</html>