<html>
<head>
<title>Hello Vue</title>
</head>
<body>
	<div id="app">
		<h1>Hello {{message}}</h1>
		<label>Enter your name</label>
		<input v-model="message" >
	</div>
</body>
<script src="https://unpkg.com/vue@2.5.13/dist/vue.js"></script>
<script>
	new Vue( {
		el: '#app',
		data: {
			message: ''
		}
	})
</script>
</html>
