<html>
<head>
<title>Hello Vue</title>
</head>
<body>
	<div id="app">
		<h1>Hello {{message}}</h1>
	</div>
</body>
<script src="https://unpkg.com/vue@2.5.13/dist/vue.js"></script>
<script>
	Vue.prototype.$message = 'global message'
	Vue.prototype.$message2 = 'global message2'
	new Vue( {
		el: '#app',
		data: {
			message: 'local message'
		},
		beforeCreate(){
			debugger
			console.log("beforeCreate this.message==>"+this.message)
			console.log("beforeCreate this.$message==>"+this.$message)
			console.log("beforeCreate this.$message2==>"+this.$message2)
		},
		created(){
			debugger
			console.log("created this.message==>"+this.message)
			console.log("created this.$message==>"+this.$message)
			console.log("created this.$message2==>"+this.$message2)
		}
	})
</script>
</html>
