<html>
<head>
<title>Hello Vue</title>
</head>
<body>
	<div id="app">
		<h1>{{message}}</h1>
		<!-- 양방향 바인딩 -->
		<input v-model="message" >
	</div>
</body>
<script src="https://unpkg.com/vue@2.5.13/dist/vue.js"></script>
<script>
	var data = {
		message: 'Greetings your majesty!'
	};
	
	new Vue( {
		el: '#app',
		/* data: {
			message: 'Greetings your majesty!'
		} */
		data: data
	})
</script>
</html>
