<template>
  <div>
    <h2>Stories</h2>
    <router-link :to="{name: 'stories.all'}">All</router-link>
    <!-- 라우트 alias 적용 /stories/famous ==> /famous -->
    <router-link to="/famous">Trending</router-link>
    <!--  <router-link :to="{name: 'stories.famous'}">Trending</router-link> -->
    <router-view></router-view>
  </div>
</template>

