<template>
	<div class="row">
		<h3>Editing</h3>
		<form>
			<div class="form-group col-md-offset-2 col-md-8">
				<input class="form-controll" v-model="story.plot">
			</div>
			<div class="form-group col-md-12">
				<button @click="saveChanges(story)" class="btn btn-success">
					Save Changes
				</button>
				<button @click="goBack" class="btn btn-default">Go back</button>
				<a href="#" class="btn btn-default" @click="goBack">Go Back</a>
			</div>
		</form>
	</div>
</template>

<script>
  import {store} from '../store.js'

  export default {
	  props: ['id'],
	  data(){
		  return {
			  story: {}
		  }
	  },
	  methods: {
		  isTheOne(story) {
			  return story.id === this.id;
		  },
		  saveChanges(story) {
			  console.log('Saved!');
			  this.$router.push('/stories');
		  },
		  goBack(){
			  this.$router.go(-1);
			  //this.$router.back();
			  //window.history.back();
			  //window.history.go(-1);
		  }
	  },
	  mounted(){
		  this.story = store.stories.find(this.isTheOne);
	  }
  }
</script>
