<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <title>Movies</title>
</head>
<body>
	<div class="container">
		<h1>movies</h1>
		<div id="v-app">
			<table class="table table-striped">
				<tr>
					<td>#</td>
					<td>Title</td>
					<td>Director</td>
					<td>Actions</td>
				</tr>
				<tr v-for="movie in movies" is="movie" :movie="movie"></tr>
			</table>
			<p class="lead">Here's a list of all your movies.
				<button @click="createMovie()" class="btn btn-primary">
					Add a new one?
				</button>
			</p>
		</div>
	</div>
</body>
<template id="template-movie-raw">
	<tr>
		<td>{{movie.id}}</td>
		<td class="col-md-6">
			<input v-if="movie.editing" v-model="movie.title" class="form-control">
			<span v-else>
				{{movie.title}}
			</span>
		</td>
		<td>
			<input v-if="movie.editing" v-model="movie.director" class="form-control">
			<span v-else>
				{{movie.director}}
			</span>
		</td>
		<td>
			<div class="btn-group" v-if="!movie.editing">
				<button @click="editMovie(movie)" class="btn btn-primary">Edit</button>					
				<button @click="deleteMovie(movie)" class="btn btn-danger">Delete</button>					
			</div>
			<div class="btn-group" v-else>
				<button v-if="movie.id" class="btn btn-primary" @click="updateMovie(movie)">
					Update Movie
				</button>
				<button v-else class="btn btn-success" @click="storeMovie(movie)">
					Save New Movie
				</button>
				<button @click="movie.editing=false" class="btn btn-default">
					Cancel
				</button>
			</div>
		</td>
	</tr>	
</template>
<script src="http://cdnjs.cloudflare.com/ajax/libs/vue/2.0.1/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src='12.8.js'></script>
</html>