<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <title>Stories</title>
</head>
<body>
<!-- 문서의 주요 내용 담는 태그. 페이지 당  1번 사용가능 -->
<main>
	<div class="container">
		<h1>Stories</h1>
		<div id="v-app">
			<table class="table table-striped">
				<tr>
					<th>#</th>
					<th>Plot</th>
					<th>Writer</th>
					<th>Upvotes</th>
					<th>Actions</th>
				</tr>
				<!-- table과 같은 일부 엘리먼트는 커스텀 엘리먼트가 적용되지 않음
					is라는 특별한 속성을 통해 커스텀 엘리먼트임을 알려 사용 가능 
				-->
				<tr v-for="story in stories" is="story" :story="story"></tr>
			</table>
			<p class="lead">Here's a list of all your stories.
				<button @click="createStory()" class="btn btn-primary">
					Add a new one?
				</button>
			</p>
			<pre>{{$data}}</pre>
		</div>
	</div>
</main>
</body>
<template id="template-story-raw">
	<tr>
		<td>
			{{story.id}}
		</td>
		<td class="col-md-6">
			<input v-if="story.editing" v-model="story.plot" class="from-control">
			<span v-else>
				{{story.plot}}
			</span>
		</td>
		<td>
			<input v-if="story.editing" v-model="story.writer" class="form-control">
			<span v-else>
				{{story.writer}}
			</span>
		</td>
		<td>
			{{story.upvotes}}
		</td>
		<td>
			<div class="btn-group" v-if="!story.editing">
				<button @click="upvoteStory(story)" class="btn btn-primary">Upvote</button>
				<button @click="editStory(story)" class="btn btn-primary">Edit</button>
				<button @click="deleteStory(story)" class="btn btn-primary">Delete</button>
			</div>
			<div class="btn-group" v-else>
				<button v-if="story.id" class="btn btn-primary" @click="updateStory(story)">
					Update Story
				</button>
				<button v-else class="btn btn-success" @click="storeStory(story)">
					Save New Story
				</button>
				<button @click="story.editing=false" class="btn btn-default">
					Cancel
				</button>
			</div>
		</td>
	</tr>
</template>
<script src="http://cdnjs.cloudflare.com/ajax/libs/vue/2.0.1/vue.js"></script>
<script src='app.js'></script>
</html>