<template>
  <div id="app">
    <img src="./assets/logo.png">
    <!-- <hello></hello>  -->
    <!--  <login></login> -->
    <!--  <stories></stories> -->
    <register></register>
  </div>
</template>

<script>
//import Hello from './components/Hello'
//import Login from './components/Login.vue'
//import Stories from './components/Stories'
import Register from './components/Register'

export default {
  name: 'app',
  components: {
	//Hello,
	//Login,
	//Stories,
	Register,
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
