<!DOCTYPE html>
<html>
<head>
	<link href="../js/bootstrap/3.3.7/bootstrap.min.css"  rel="stylesheet">
	<title>Hello Vue</title>
</head>
<body class="text-center">
	<div id="app">
		<ul>
			<li v-for="task in tasks" :class="{'completed': task.done}" :style="styleObject" >
				{{task.body}}
				<button @click="completeTask(task)" class="btn">Just do it!</button>
			</li>
		</ul>
	</div>
</body>
<script src="../js/vuejs/2.5.13/vue.js"></script>
<script>
new Vue({
	el: '#app',
	data: {
		tasks: [
			{
				body: "Feed the horese", done: true
			},
			{
				body: "Wash armor", done: true
			},
			{
				body: "Sharp sword", done: false
			}
		],
		styleObject: {
			fontSize: '25px'
		}
	},
	methods: {
		completeTask: function(task){
			task.done = !task.done;
		}
	}
});
</script>
<style>
	.completed {
		text-decoration: line-through;
	}
</style>
</html>