<!DOCTYPE html>
<html>
<head>
	<link href="../js/bootstrap/3.3.7/bootstrap.min.css"  rel="stylesheet">
	<title>Emit and Listen</title>
</head>
<body>
	<div class="container text-center">
		<p style="font-size: 140px">
			{{votes}}
		</p>
		<button class="btn btn-primarty" @click="vote">Vote</button>
	</div>
</body>
<script src="../js/vuejs/2.5.13/vue.js"></script>
<script>
	new Vue({
		el: ".container",
		data: {
			votes: 0
		},
		methods: {
			vote: function() {
				this.$emit('voted');
			}
		},
		created() {
			this.$on('voted', function(button){
				this.votes++;
			});
		}
	});
</script>
</html>