<!DOCTYPE html>
<html>
<head>
	<link href="../js/bootstrap/3.3.7/bootstrap.min.css"  rel="stylesheet">
	<title>Emit and Listen</title>
</head>
<body>
	<!-- 부모 컴포넌트 템플릿 -->
	<div class="container text-center">
		<p style="font-size: 140px">
			{{votes}}
		</p>
		<!-- 자식 컴포넌트 템플릿 사용 -->
		<food v-on:voted="countVote" name="Cheeseburger"></food>
		<!-- <food @voted="countVote" name="Cheeseburger"></food> -->
	</div>
</body>
<!-- 자식 컴포넌트 템플릿 -->
<template id="food">
	<button class="btn btn-default" @click="vote">{{name}}</button>
</template>
<script src="../js/vuejs/2.5.13/vue.js"></script>
<script>
	//자식 컴포넌트
	Vue.component('food', {
		template: '#food',
		props: ['name'],
		methods: {
			vote: function() {
				this.$emit('voted');
			}
		}
	});

	//부모 컴포넌트
	new Vue({
		el: ".container",
		data: {
			votes: 0
		},
		methods: {
			countVote: function() {
				this.votes++;
			}
		},
	});
</script>
</html>