<!DOCTYPE html>
<html>
<head>
	<link href="../js/bootstrap/3.3.7/bootstrap.min.css"  rel="stylesheet">
	<title>Emit and Listen</title>
</head>
<body>
	<!-- 부모 컴포넌트 템플릿 -->
	<div class="container text-center">
		<p style="font-size: 140px">
			{{votes}}
		</p>
		
		<div class="row">
			<food @voted="countVote" name="CheeseBurger"></food>
			<food @voted="countVote" name="Duouble Bacon Burger"></food>
			<food @voted="countVote" name="Rodeo Burger"></food>
		</div>
		
		<h1>Log:</h1>
		<ul class="list-group">
			<li class="list-group-item" v-for="vote in log">
				{{vote}}
			</li>
		</ul>
	</div>
</body>
<!-- 자식 컴포넌트 템플릿 -->
<template id="food">
	<div class="text-center col-lg-4">
		<p style="font-size: 40px;">
			{{votes}}
		</p>
		<button class="btn btn-default" @click="vote">{{name}}</button>
	</div>
</template>
<script src="../js/vuejs/2.5.13/vue.js"></script>
<script>
	var bus = new Vue();

	//자식 컴포넌트
	Vue.component('food', {
		template: '#food',
		props: ['name'],
		data: function() {
			return {
				votes: 0
			}
		},
		methods: {
			vote: function() {
				this.votes++;
				this.$emit('voted', event.srcElement.textContent);
			}
		}
	});

	//부모 컴포넌트
	new Vue({
		el: ".container",
		data: {
			votes: 0,
			log: []
		},
		methods: {
			countVote: function(food) {
				this.votes++;
				this.log.push(food+' received a vote.')
			}
		},
	});
</script>
</html>