<!DOCTYPE html>
<html>
<head>
	<link href="../js/bootstrap/3.3.7/bootstrap.min.css"  rel="stylesheet">
	<title>Emit and Listen</title>
</head>
<body>
	<!-- 부모 컴포넌트 템플릿 -->
	<div class="container text-center">
		<p style="font-size: 140px">
			{{votes.count}}
		</p>
		<button class="btn btn-danger" @click="reset">Reset votes</button>
		<button class="btn btn-danger" @click="stop">Stop</button>
		<hr>
		
		<div class="row">
			<food name="CheeseBurger"></food>
			<food name="Duouble Bacon Burger"></food>
			<food name="Rodeo Burger"></food>
		</div>
		<hr>
		
		<h1>Log:</h1>
		<ul class="list-group">
			<li class="list-group-item" v-for="vote in votes.log">
				{{vote}}
			</li>
		</ul>
	</div>
</body>
<!-- 자식 컴포넌트 템플릿 -->
<template id="food">
	<div class="text-center col-lg-4">
		<p style="font-size: 40px;">
			{{votes}}
		</p>
		<button class="btn btn-default" @click="vote">{{name}}</button>
	</div>
</template>
<script src="../js/vuejs/2.5.13/vue.js"></script>
<script>
	//중앙 이벤트 버스
	//모든 컴포넌트가 서로 통신 할 수 있게 해줌
	var bus = new Vue();

	//자식 컴포넌트
	Vue.component('food', {
		template: '#food',
		props: ['name'],
		data: function() {
			return {
				votes: 0
			}
		},
		methods: {
			vote: function(event) {
				var food = event.srcElement.textContent
				this.votes++;
				bus.$emit('voted', food);
			},
			reset: function(){
				this.votes=0;
			}
		},
		created(){
			bus.$on('reset', this.reset);
		}
	});

	//부모 컴포넌트
	new Vue({
		el: ".container",
		data: {
			votes: {
				count: 0,
				log: []
			}
		},
		methods: {
			countVote: function(food) {
				this.votes.count++;
				this.votes.log.push(food + ' received a vote.');
			},
			reset: function() {
				this.votes = {
					count: 0,
					log: []
				}
				bus.$emit('reset');
			},
			stop: function() {
				bus.$off(['voted']);
			}
		},
		created(){
			bus.$on('voted', this.countVote);
		}
	});
</script>
</html>