<!DOCTYPE html>
<html>
<head>
	<!--<link href="../js/bootstrap/3.3.7/bootstrap.min.css" rel="stylesheet"> -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <title>Hello Vue</title>
</head>
<body>
  <div class="container">
      <h1>Lets hear some stories!</h1>
      <div>
          <ul class="list-group">
              <story v-for="story in stories" :story="story" :favorite="favorite" @update="updateFavorite"></story>
          </ul>
          <pre>{{$data}}</pre>
      </div>
  </div>
</body>
<template id="story-template">
	<li class="list-group-item">
		{{story.writer}} said "{{story.plot}}"
		Story upvotes {{story.upvotes}}.
		<button v-show="!story.voted" @click="upvote" class="btn btn-default">
			Upvote
		</button>
		<button v-show="!isFavorite" @click="updateFavorite" class="btn btn-default">
			Favorite
		</button>
		<span v-show="isFavorite" class="glyphicon glyphicon-star pull-right" aria-hidden="true">
		</span>
	</li>
</template>
<script src="../js/vuejs/2.5.13/vue.js"></script>
<script>
	Vue.component('story', {
		props: ['story', 'favorite'],
		template: "#story-template",
		methods: {
			upvote: function(){
				this.story.upvotes+=1;
				this.story.voted=true;
			},
			setFavorite: function() {
				this.favorite = this.story;
			},
			updateFavorite: function() {
				this.$emit('update', this.story);
			}
		},
		computed: {
			isFavorite: function(){
				return this.story == this.favorite;
			}
		}
	});

	new Vue({
		  el: '.container',
		  data: {
		    stories: [
		      {
		        plot: "My hores is amazing.",
		        writer: "Mr. Weebl",
		        upvotes: 28,
		        voted: false
		      },
		      {
		        plot: "Narwhals invented Shish Kebab.",
		        writer: "Mr. Weebl",
		        upvotes: 8,
		        voted: false
		      },
		      {
		        plot: "The dark side of the Force is stronger.",
		        writer: "Darth Vader",
		        upvotes: 49,
		        voted: false
		      },
		      {
		        plot: "One does not simply walk into Mordor",
		        writer: "Boromir",
		        upvotes: 74,
		        voted: false
		      },
		    ],
		    favorite: {}
		  },
		  methods: {
			updateFavorite: function(story) {
				this.favorite=story;
			}
		  }
		});
</script>
</html>
<!-- 
호출 순서

Favorite 버튼 클릭 -> 자식 템플릿으 컴포넌트 methods: updateFavorite 호출
-> 자식의 updateFavorite 내부에서 이벤트 발생 $emit('update', this.story)

<story v-for="story in stories" :story="story" :favorite="favorite" @update="updateFavorite"></story>
update 이벤트 발생을 감지 하고 부모의 updateFavorite를 실행
 -->