<!DOCTYPE html>
<html>
<head>
	<link href="../js/bootstrap/3.3.7/bootstrap.min.css"  rel="stylesheet">
	<title>Hores drwan Chaariots</title>
</head>
<body>
	<div class="container">
		<h1>Chariot Shopping</h1>
		<ul class="list-group">
			<chariot v-for="chariot in chariots" :chariot="chariot" @update="selectbuggy"></chariot>
		</ul>
	</div>
</body>
<template id="chariot-template">
	<li class="list-group-item">
		"{{chariot.name}}" chariot has {{chariot.horses}} horse(s)!
		<br>
		<button class="btn btn-default" @click="selectbuggy">
			Pick Chariot	
		</button>
	</li>
</template>
<script src="../js/vuejs/2.5.13/vue.js"></script>
<script>
	Vue.component('chariot', {
		props: ['chariot'],
		template: "#chariot-template",
		methods: {
			selectbuggy: function(){
				debugger;
				this.$emit('update', this, this.chariot);
			}
		}
	});
	
	new Vue({
		el: '.container',
		data: {
			 chariots: [
	                {name: "Olympus", horses: 4},
	                {name: "Sagitta", horses: 3},
	                {name: "Icarus", horses: 2},
	                {name: "Abraxas", horses: 1},
	         ]
		},
		methods: {
			selectbuggy: function(child, chariot){
				debugger;
				var horsesNum = chariot.horses;
				for(var i=0; i<this.chariots.length; i++) {
					currentHorsesNum = this.chariots[i].horses;
					if(horsesNum < currentHorsesNum) {
						child.$parent.$children[i].$el.children[1].textContent = "Hire Horses"
						child.$parent.$children[i].$el.children[1].disabled=false;
					} else if(horsesNum > currentHorsesNum) {
						child.$parent.$children[i].$el.children[1].textContent = "Dismiss Horses";
						child.$parent.$children[i].$el.children[1].disabled=false;
					} else if(horsesNum == currentHorsesNum) {
						child.$parent.$children[i].$el.children[1].textContent = "Riding";
						child.$parent.$children[i].$el.children[1].disabled=true;
					}
				}
			}
		}
	})
</script>
</html>

<!-- 
http://vuejs.kr/jekyll/update/2017/03/13/vuejs-component-style-guide/#thisparent-%ED%94%BC%ED%95%98%EA%B8%B0

this.$parent 피하기
Vue.js는 부모 컨텍스트에 접근 할 수 있는 중첩 컴포넌트를 지원합니다.
하지만 Vue 컴포넌트 외부의 컨텍스트에 접근하면 컴포넌트 기반 개발의 FIRST 규칙을 위반하게 됩니다.
따라서 this.$parent를 사용을 피해야합니다.

왜 그렇게 하나요?
Vue 컴포넌트는 다른 모든 컴포넌트와 마찬가지로 독립적으로 작동해야합니다.
컴포넌트가 부모에 접근해야할 경우 이 규칙은 무너지게 됩니다.
컴포넌트가 부모에 접근하는 경우 다른 곳에서 재사용할 수 없습니다.

어떻게 하나요?
어트리뷰트/프로퍼티를 사용하여 부모에서 자식 컴포넌트로 값을 전달합니다.
어트리뷰트 표현식에서 콜백을 사용하여 부모 컴포넌트에 정의된 메소드를 자식 컴포넌트로 전달하십시오.
자식 컴포넌트에서 이벤트를 emit하여 부모 컴포넌트에서 이벤트를 발생시킵니다.
 -->