<html>
<head>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<title>Horse-drawn Chariots</title>
</head>
<body>
	<div class="container">
		<h1>Chariot shopping</h1>
		<ul class="list-group">
			<!-- v-for 순환 시 값을 props에 바인딩, select event 발생 시 updateChariot 메소드 호출  -->
			<chariot v-for="chariot in chariots" :chariot="chariot" :current="current" @select="updateChariot"></chariot>
		</ul>
		<pre>{{ $data }}</pre>
	</div>
	<!-- component template -->
	<template id="chariot-template">
	<li class="list-group-item">
		<h4>
			"{{ chariot.name }}" chariot has <strong>{{ chariot.horses }}</strong> horse(s)!
		</h4>
		<!-- @click은 select 이벤트 등록
		     computed properties isCurrent를 disabled 버튼 속성과 바인딩
		     computed properties action을 출력하도록 {{action}}을 지정  
		-->
		<button @click="rideChariot(chariot)" class="btn btn-primary" :disabled="isCurrent">{{ action }}</button>
	</li>
	</template>
	<!-- end component template -->
</body>
<script src="http://cdnjs.cloudflare.com/ajax/libs/vue/2.0.1/vue.js"></script>
<script type="text/javascript">
    Vue.component('chariot', {
        props: ['chariot', 'current'],
        template: "#chariot-template",
        methods: {
            rideChariot: function (chariot) {
            	debugger;
                this.$emit('select', chariot)
            },
        },
        computed: {
            //is true when the chariot has more horses than the current one
            hasMoreHorses: function () {
                return this.current.horses < this.chariot.horses
            },
            //is true when the chariot is the current one
            isCurrent: function () {
                return this.current.name == this.chariot.name
            },
            //is true when there is no chariot current
            noChariot: function () {
                return this.current.name == null;
            },
            //define the action for each chariot
            action: function () {
            	debugger;
                if (this.noChariot) {
                    action = 'Pick Chariot'
                } else if (this.isCurrent) {
                    action = 'Riding!'
                } else if (this.hasMoreHorses) {
                    action = 'Hire Horses'
                } else {
                    action = 'Dismiss Horses'
                }
                return action;
            }
        }
    });
    var vm = new Vue({
        el: '.container',
        data: {
            chariots: [
                {name: "Olympus", horses: 4},
                {name: "Sagitta", horses: 3},
                {name: "Icarus", horses: 2},
                {name: "Abraxas", horses: 1},
            ],
            //the current 'chariot'
            current: {
            	name: "current",
            	horses: 0
            }
        },
        methods: {
          updateChariot: function (chariot) {
        	  debugger;
            this.current = chariot
          }
        }
    })
</script>
</html>
<!-- 
실행 순서
자식 템플릿을 통한 li 추가 시 {{action}} 호출
action으로  정의된 computed properties가 호출되어 버튼 설정
action은 current 값이 변경되면 호출됨

버튼 클릭 시 rideChariot(chariot)을 호출하여 이벤트 select를 발생 인자 chariot를 함께 전달

<chariot v-for="chariot in chariots" :chariot="chariot" :current="current" @select="updateChariot"></chariot>
이벤트 리스너 @select에 정의된 부모 컴포넌트의 updateChariot 메소드가 실행
current값을 변경

current가 변경되었으므로 자식 컴포넌트의 computed action이 호출되어 버튼을 변경 
 -->