<template>
 <div>
    <h2>Add a new Pokémon!</h2>
	<input v-model="newPokemon.name" type="text">
	<button @click='cancel' class="btn btn-primary">cancel</button>
	<button @click='save' class='btn btn-primary'>save</button>
 </div>
</template>

<script>
import {pokedex} from '../pokedex.js'
export default {
  mounted () {
    this.category = pokedex.categories.find(this.findCategory)
  },
  data () {
    return {
      category: {},
      newPokemon: {
        name: '',
        level: '1',
        hungry: true
      }
    }
  },
  methods: {
    findCategory (category) {
      return category.name === this.$route.params.name
    },
    cancel() {
    	this.$router.push('/category/'+this.category.name)
    },
    save() {
    	if(this.newPokemon.name != '') {
    	  this.category.pokemons.push(this.newPokemon)
    	  this.$router.push('/category/'+this.category.name)
    	} else {
    	  alert('check pokemon name')
    	}
    }
  }
}
</script>
