<template>
  <div class="home">
	<h2>Pokémon categories</h2>
	<ul class="list-gorup">
	  <li v-for="category in categories" class="list-group-item">
		<p class="category-title">{{ category.name }} ({{category.pokemons.length}})</p>
	    <router-link
	      :to="{ name: 'show', params: { name: category.name }}"
	      tag="button" class="btn btn-primary" >
	       Show
	    </router-link>
	  </li>
	</ul>
  </div>
</template>

<script>
import {pokedex} from '../pokedex.js'
export default {
  data () {
    return {
      categories: pokedex.categories
    }
  }
}

</script>