<!DOCTYPE html>
<html>
<head>
<link href="../js/bootstrap/3.3.7/bootstrap.min.css" rel="stylesheet">
<title>Upvote</title>
</head>
<body>
	<div class="container">
		<button v-on:click="upvotes++">
			Upvote!{{upvotes}}
		</button>
	</div>
</body>
<script src="../js/vuejs/2.5.13/vue.js"></script>
<script>
	new Vue({
		el: '.container',
		data: {
			upvotes: 0
		}
	})
</script>
</html>