<!DOCTYPE html>
<html>
<head>
<link href="../js/bootstrap/3.3.7/bootstrap.min.css" rel="stylesheet">
<title>Calculator</title>
</head>
<body>
	<div class="container">
		<h1>Type 2 numbers and choose opertaion.</h1>
		<form class="form-inline">
			<input v-model.number="a" class="form-control" @keyup="calculate2">
			<select v-model="operator" class="form-control" @change="calculate2">
				<option>+</option>
				<option>-</option>
				<option>*</option>
				<option>/</option>
			</select>
			<input v-model.number="b" class="form-control" v-on:keyup="calculate2">
			<button type="submit" @click="calculate1" class="form-control">
				Calculate1
			</button>
			<button type="submit" @click.prevent="calculate2" class="form-control">
				Calculate2
			</button>			
		</form>
		<h2 v-if="a!=='' && b!==''">Result: {{a}} {{operator}} {{b}} = {{c}}</h2>
		<h2 v-else></h2>
		<pre>{{$data}}</pre>
	</div>
</body>
<script src="../js/vuejs/2.5.13/vue.js"></script>
<script>
	new Vue({
		el: '.container',
		data: {
			a: "",
			b: "",
			c: "",
			operator: "+",
		},
		methods:{
			calculate1: function(event){
				//폼 제출로 인하여 페이지가 리로드되어 결과 출력이 정상적으로 안됨
				//onsubmit 이벤트 기본 동작 취소를 위해서 preventDefault() 호출
				event.preventDefault();
				switch(this.operator){
					case "+":
						this.c=this.a+this.b
						break;
					case "-":
						this.c=this.a-this.b
						break;
					case "*":
						this.c=this.a*this.b
						break;
					case "/":
						this.c=this.a/this.b
						break;
				}
			},
			calculate2: function(event){
				switch(this.operator){
					case "+":
						this.c=this.a+this.b
						break;
					case "-":
						this.c=this.a-this.b
						break;
					case "*":
						this.c=this.a*this.b
						break;
					case "/":
						this.c=this.a/this.b
						break;
				}
			}
		}
	})
</script>
</html>