<!DOCTYPE html>
<html>
<head>
<link href="../js/bootstrap/3.3.7/bootstrap.min.css" rel="stylesheet">
<title>Hello Vue</title>
</head>
<body>
	<div class="container">
		<h1>Enter 2 numbers to calculate their sum.</h1>
		<form class="form-inline">
			<input v-model.number="a" class="form-controll">
			<select v-model="operator" class="form-controll">
				<option>+</option>
				<option>-</option>
				<option>*</option>
				<option>/</option>
			</select>
			<input v-model.number="b" class="form-controll">
		</form>
		<h2>Result: {{a}} {{operator}} {{b}} = {{c}}</h2>
		<pre>{{$data}}</pre>
	</div>
</body>
<script src="../js/vuejs/2.5.13/vue.js"></script>
<script>
	new Vue({
		el: '.container',
		data: {
			a: 0,
			b: 0,
			operator: "+"
		},
		computed: {
			c: function() {
				switch(this.operator) {
					case "+":
						return this.a+this.b
						break;
					case "-":
						return this.a-this.b
						break;
					case "*":
						return this.a*this.b
						break;
					case "/":
						return this.a/this.b
						break;
				}
			}
		}
	});
</script>
</html>