<!DOCTYPE html>
<html>
<head>
<link href="../js/bootstrap/3.3.7/bootstrap.min.css"  rel="stylesheet">
<title>People of Vue</title>
</head>
<body>
	<div class="container">
		<h1>People of Vue</h1>
		<ul class="list-group">
			<li v-for="(person, index) in candidates" class="list-group-item">
				Mr. {{person.name}} {{person.votes}}
				<button @click="person.votes++">
					Vote
				</button> 
 				<button v-on:click="vote(person)">
					Vote
				</button>
			</li>
		</ul>
		<input placeholder="press 'delete' to reset" v-on:keyDown.delete="reset">
		<h1>{{ourMayor}}</h1>
		<pre>{{$data}}</pre>
	</div>
</body>
<script src="../js/vuejs/2.5.13/vue.js"></script>
<script>
	new Vue({
		el: '.container',
		data: {
			candidates: [
				{name: "Black",	votes: 0},
				{name: "Pink",	votes: 0},
				{name: "White",	votes: 0},
				{name: "Brown",	votes: 0}
			]
		},
		methods:{
			vote: function(person) {
				person.votes+=1;
			},
			reset: function() {
				this.candidates.map(function(obj) {
					obj.votes=0;
					return obj;
				});
			}
		},
		computed: {
			ourMayor: function() {
				this.candidates.sort(
						function(a, b) {
							return b.votes-a.votes;
						}
					);
				return "Our mayor is Mr. "+this.candidates[0].name; 
			}
		}
	});
</script>
</html>